@CHARSET "ISO-8859-1";

#search {
	background: url('img/loupe.png') no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
}

#menuOption {
	vertical-align: middle;	
}


ul#horizontalList li {
	display: inline;
}

ul#horizontalList li a {
	text-decoration: none;
}

#header {
	overflow: hidden;
    white-space: nowrap;
    position: relative;
    max-height: 87px;
	background-image: url('img/bgheader.png');
	background-repeat: repeat-x;
	background-color: #cccccc;
}

#header #menuOption {
	position: absolute;
	bottom: 0;
	left: 100px;
}

#logo {
	float: left;
	padding-left: 10px;
	padding-top: 20px;
}

span {
  	display: inline-block;    
}

a{
	color: #474A4E;
	padding: 0px 30px;
	font-weight: bold;
}

a:hover { 
    color: #008FD5;
}

#footer {
	position: absolute;
    bottom: 0px;
    background-color: #008FD5;
    width: 100%;
}


body{
	margin:0;
	width:100%;
	height:100vh;
}
header{
	width:100%; 
	height:60px; 
	line-height:60px;
}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#008FD5;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.menu{z-index:1000000; font-weight:bold; width:100%; background:#cccccc;;  position:absolute; text-align:center;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:5px 0 5px 0; border-bottom:#fff 1px solid;}
.menu li:hover{display: block;    background:#008FD5; padding:5px 0 5px 0; border-bottom:#fff 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#000;}
.menu ul li a:hover {  color: #fff; text-decoration:none;}
.menu a{text-decoration:none; color:#000;}
.menu a:hover{text-decoration:none; color:#fff;}


